*,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    position: relative;
    scrollbar-width: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:#1F2937;
  }


/* 
  ::-webkit-scrollbar {
    width: 8px;
    background-color: var(--white);
  }
  
   ::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 8px;
  }
   */
  input,
  select,
  textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    font: inherit;
    color: inherit;
    cursor: text;
  }
  
  img {
    display: block;
    height: auto;
    width: 100%;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0;
    font-weight: normal;
    margin-block-start: 0;
  }
  
  
  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  button {
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  
  address {
    font-style: normal;
  }
  

  
